body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#chessboard {
    display: grid;
    grid-template-rows: repeat(8, 60px);
    grid-template-columns: repeat(8, 60px);
    border: 2px solid #333;
    background-color: #769656;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.row {
    display: contents;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.tile.black {
    background-color: #769656;
}

.tile.white {
    background-color: #eeeed2;
}

.selected{
    border: dashed rgb(75, 122, 215) 5px;
    font-size: 2.5rem;
    margin: 1px;

    animation-name: selectedCase;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.movableCase
{
    border: dashed rgb(75, 187, 215) 5px;
    margin: 1px;

    animation-name: movableCase;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.killableCase
{
    border: dashed rgb(215, 75, 75) 5px;
    margin: 1px;

    animation-name: killableCase;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.canBeSelected
{
    border: dashed rgb(163, 163, 163) 5px;
    margin: 1px;

    animation-name: canBeSeletedCase;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes selectedCase
{
    0%
    {
        /* margin: 0.01px; */
        border: dashed rgb(75, 122, 215) 5px;
    }
    50%
    {
        /* margin: 1px; */
        border: dashed rgb(216, 216, 245)5px;
    }
    100%
    {
        /* margin: 0.01px; */
        border: dashed rgb(75, 122, 215) 5px;
    }
}

@keyframes movableCase
{
    0%
    {
        /* margin: 0.01px; */
    border: dashed rgb(75, 187, 215) 5px;
    }
    50%
    {
        /* margin: 1px; */
    border: dashed rgb(150, 197, 209) 5px;
    }
    100%
    {
        /* margin: 0.01px; */
    border: dashed rgb(75, 187, 215) 5px;
    }
}

@keyframes canBeMovedCase
{
    0%
    {
        font-size: 1rem;
        border: none;
    }
    100%
    {
        font-size: 2.5rem;
        border: dashed rgb(215, 75, 75) 5px;
    }
}


@keyframes killableCase
{
    0%
    {
        font-size: 2rem;
        border: dashed rgb(215, 75, 75) 5px;
    }
    50%
    {
        font-size: 2.5rem;
        border: dashed rgb(214, 121, 121) 5px;
    }
    100%
    {
        font-size: 2rem;
        border: dashed rgb(215, 75, 75) 5px;
    }
}

@keyframes killableCaseWithoutRedMark
{
    0%
    {
        font-size: 2rem;
    }
    50%
    {
        font-size: 2.5rem;
    }
    100%
    {
        font-size: 2rem;
    }
}

@keyframes canBeSeletedCase
{
    0%
    {
        border: dashed rgb(163, 163, 163) 5px;
    }
    50%
    {
        border: dashed rgb(219, 219, 219) 5px;
    }
    100%
    {
        border: dashed rgb(163, 163, 163) 5px;
    }
}